<div class="left">
    <input type="search" placeholder="Search Twitter"> 
    <span style="position: relative; z-index: 1; left: -21rem;top: 1rem;">  
        <i class="fa fa-search" aria-hidden="true"></i>
    </span>  
    <div class="light_bg">
        <div class="heading"><strong>What's happening</strong></div>
        <div class="my-tweet">
            <blockquote class="twitter-tweet" data-theme="light">
                <p lang="en" dir="ltr">What exactly is twitter other than a bunch of mediocre men constantly arguing about things they don&#39;t control</p>&mdash; Aditya (@adityarathixx) <a href="https://twitter.com/adityarathixx/status/1269182302887665664?ref_src=twsrc%5Etfw">June 6, 2020</a>
            </blockquote> 
        </div>
        <div class="my-tweet">
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Imagine has always been one of my favorite songs. Singing it since I was 10. Never knew what went behind the song, never knew what went behind the composer&#39;s life. Now, it&#39;s much more than a peace song to me. It reminds me of an ambitious guy who went from 0 to being the</p>&mdash; Aditya (@adityarathixx) <a href="https://twitter.com/adityarathixx/status/1336284827553734658?ref_src=twsrc%5Etfw">December 8, 2020</a>
            </blockquote>
        </div>
    </div>
</div>