<div class="sm_hed">
    &nbsp;&nbsp; <b>Home</b>
    <hr>
</div>
<div class="center">
    <form>
        <input type="text" placeholder="What's happening?">
        <input type="submit" value="Tweet">
    </form>
    <div class="prof_pic"></div>
    <div class="content" *ngFor="let tweet of alltweets">
        <div class="profile-pic"></div>
        <div class="name">
            <b>{{tweet.Username}}</b>
            <span style="position: relative; left: 1rem;">@{{tweet.Username}} .</span>
            <span style="position: relative;left: 2rem;font-size: 0.7rem;">{{tweet.CreatedAt}}</span>
        </div>
        <div class="contnt">
            {{tweet.Content}}
        </div>
        <div class="like-comment">
            <span (click)="openModal(tweet.Username,tweet.CreatedAt,tweet.Content, tweet.TweetNo)">
            <i class="fa fa-comment-o" aria-hidden="true"></i> {{tweet.Comments.CommentCounter}}
            </span>
            <span style="position: relative;left: 1rem;top: 0.1rem;cursor: pointer;"(click)="like(tweet.Username, tweet.TweetNo)">
                <i class="fa fa-heart-o" aria-hidden="true"></i> {{tweet.like.LikeCounter}}
            </span>
        </div>
    </div>
</div>