.sm_hed{
    position: fixed;
    top: 0rem;
    left: 20rem;
    background-color: #ffffff !important;
    width: 41%;
    z-index: 1;
    font-size: 2rem;
}
.center{
    position: relative;
    top: 4.8rem;
    left: 20rem;
    width: 41%;
    height: 10rem;
    background-color: #ffffff !important;
}
input[type="text"]{
    height: 10rem;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 7rem;
    font-size: 1.8rem;
    padding-bottom: 4rem;
}
input[type="submit"]{
    position: relative;
    top: -3rem;
    left: 42rem;
    border: none;
    width: 6rem;
    height: 2.5rem;
    background-color: #50abf1;
    border-radius: 5rem;
    color: #ffffff;
    font-weight: 700;
}
.prof_pic{
    position: relative;
    width: 8%;
    border-radius: 4rem;
    height: 38%;
    background-image: url(src/assets/twitter.svg);
    top: -11.5rem;
    left: 1rem;
}
.content{
    position: relative;
    top: 1rem;
    margin-top: 1rem;
    top: -6rem;    
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.name{
    position: relative;
    top: 0.2rem;
    left: 4rem;
    font-size: 1rem;
    width: fit-content;
    display: table; /*firefox*/
}
.profile-pic{
    position: relative;
    top: 2rem;
    left: 1rem;
    background-image: url(src/assets/twitter.svg);
    width: 4%;
    background-size: 100%;
    height: 19%;
    background-repeat: no-repeat;
    border-radius: 3rem;
}
.contnt{
    position: relative;
    top: 0.3rem;
    left: 4rem;
    font-size: 1rem;
}
.like-comment{
    position: relative;
    top: 1rem;
    left: 4rem;
}
@media only screen and (max-width:1600px){
.center{
    top: 5.2rem;
    left: 16.8rem;}
.sm_hed{
    left: 16.8rem;}
.prof_pic{
    height: 33%;}
.profile-pic{
    width: 4%;
    height: 19%;}
}