<!---Login component-->
<div id="left"></div>
<div id="right">
    <div id="logo"></div>
    <div class="heading">
        <b>See what is happening in <br>the world right now</b>
    </div>
    <div class="subhead">
        <b>Join twitter today.</b>
    </div>
    <button class="btn btn-primary btn-lg btn1" (click)="openModal()" type="button" data-toggle="modal" data-target="#exampleModalCenter">Sign up</button>
    <button class="btn btn-primary btn-lg btn2" (click)="openModal2()" type="button" data-toggle="modal2" data-target="#exampleModalCenter2">Log in</button>
</div>

<div id="pop_up">
<!--SIGN IN MODAL-->
    <div class="modal fade" id="exampleModalCenter" [ngStyle]="{'display':display}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sign in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form class="myform" [formGroup]='signupform' (ngSubmit)="PostData(signupform)">
                    <input type="text" formControlName="FirstName" placeholder="FirstName">

                    <input type="text" formControlName="LastName" placeholder="LastName">

                    <input type="text" formControlName="Username" placeholder="Username">

                    <input type="password" formControlName="Password" placeholder="Password">  

                    <input type="submit" value="Submit" [disabled]="!signupform.valid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled()">Close</button>
            </div>
        </div>
        </div>
    </div>
<!---LOGIN MODAL-->
    <div class="modal modal2 fade" id="exampleModalCenter2" [ngStyle]="{'display':display2}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Log in</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form class="myform" [formGroup]='loginform' (ngSubmit)="LoginData(loginform)">
                    <input type="text" formControlName="Username" placeholder="Username">

                    <input type="password" formControlName="Password" placeholder="Password">  

                    <input type="submit" value="Submit" [disabled]="!loginform.valid">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseHandled2()">Close</button>
            </div>
        </div>
        </div>
    </div>

</div>